label {
    display: block;
    margin-top: 1em;
}

input {
    width: 100%;
}

.puzzle-feedback {
    text-align: center;
}

/* All this mess is just to change the color of the progress bar */

progress::-moz-progress-bar { background: #7c37d6; }
progress::-webkit-progress-value { background: #7c37d6; }
progress { color: #7c37d6; }

progress {
    border-radius: 0;
    width: 80%;
    height: 1.5em; 
}

main {
    align-self: center;
}

small.text-muted {
    margin-left: 0.5em;
}