


body {
    line-height: 1.6;
    display: grid;
    grid-template-rows: 3em auto 3em;
    grid-template-areas: "header header"
        "main main"
        "footer footer";
    margin: 0;
}

header {
    grid-area: header;
}

header,
footer {
    background-color:rgb(124, 55, 214);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: main;
    padding: 2em;
    align-self: center;
}

footer {
    grid-area: footer;
}

footer,
.push {
    height: 50px;
}

/* ========== NAVBAR ========== */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
    overflow: hidden;
    background-color:var(--main-bg-color);
    width: 100%;
  }
  
  li {
    float: right;
  }

  li.brand {
      float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    border-radius: 0;
  }

  li a:hover {
    background-color:rgb(51, 23, 87);
  } 

  body.dark-theme li a:hover {
      background-color: var(--accent-background-dark);
  }

  .brand:hover {
      background-color: inherit;
  }

  .btn-toggle {
    background-color: var(--main-bg-color);
    border: none;
  }

  body.dark-theme .btn-toggle {
    background-color: var(--dark-secondary);
    color: var(--dark-secondary);
    border: none;
  }


/* ========== BODY ========== */

/* Language Info Section */

.language-info {
    line-height: 1.6rem;
    margin-top: 1em;
}

.language-info p {
    margin-top: 2em;
    font-size: 1.1rem;
}

h1.lang-name {
    font-size: 2em;
    text-align: left;
}

.attribution {
    font-style: italic;
    font-weight: 400;
    color: gray; 
    margin-top: -1.5em;
    padding: 0;
}

hr.puzzle-divider {
    margin: 3em 0;
}

/* Puzzle Section */

.puzzle {
    display: grid;
    grid-template-columns: 3fr 4fr; /* Change this to modify width of clues and input sections */
    grid-template-areas: "clues inputs"
        "clues feedback";
}

.puzzle-clues {
    grid-area: clues;
    padding: 1.5em;
}

.puzzle-input {
    grid-area: inputs;
    padding: 1em;
}

.puzzle-feedback {
    grid-area: feedback;
    padding: 1em;
}

.template {
    border: 1px dashed gray;
}

.copyright {
    margin-top: 2em;
}


/* ========= STICKY FOOTER ========== */

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }

/* ========== TABLES ========== */

table,
tr,
td,
th {
    border-bottom: 1px solid black;
    padding: 0.5em 1em;
}

body.dark-theme table, tr, td, th {
    border-bottom: 1px solid #f5f5f5;
}

th {
    text-align: left;
}

td:first-of-type {
    text-align: center;
    padding: 0.5em 0.5em;
}

table {
    width: 100%;
}

/* ========== NEIGHBOR BUTTONS ========== */

.neighbor-btn-container {
    width: 100%;
}

.neighbor-btn {
    border-radius: 0;
    border: none;
    width: 15em;
    height: 3em;
    background-color: lightgray;
}

.neighbor-btn:hover {
    background: rgb(66, 66, 66);
    color: white;
    cursor: pointer;
}

.neighbor-btn:disabled:hover {
    background: lightgray;
    color: rgba(0, 0, 0, 0.247);
    cursor: default;
}

.previous-btn {
    float: left;
}

.next-btn {
    float: right;
}