/* All this mess is just to change the color of the progress bar */

progress::-moz-progress-bar { background: #7c37d6; }
progress::-webkit-progress-value { background: #7c37d6; }
progress { color: #7c37d6; }

progress {
    border-radius: 0;
    width: 100%;
    height: 1.5em; 
}

.puzzle-feedback {
    text-align: center;
}

#correct-label {
    display: block;
    margin: 1em 0em !important;
}