/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* End of CSS reset */

/* Variables */
:root {
    --main-bg-color:#7c37d6;
    --main-bg-color-active: rgb(51, 23, 87);
    --accent-color-1: #374dd6;
    --accent-color-2: #cb37d6;
    --gray-background: #eee;
    --white-background: #f8f8ff;
    /* Dark mode colors */
    --dark-background: rgb(17, 25, 32);
    --dark-secondary: rgb(27, 40, 51);
    --text-color-dark: #f5f5f5;
    --accent-background-dark: #152942;
    --accent-color-dark: #e43f5a;
}

/* General styling */
html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    width: 100vw;
    height: 100vw;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 10vh 1fr 5vh;
    grid-template-areas:
    "header header header"
    "sidebar content ."
    "footer footer footer";
    justify-items: center;
    align-items: stretch;
    min-height: 300px;
    background-color: var(--white-background);
/*    background-image: url(/assets/images/y-so-serious-white.png);*/
}

ol {
  list-style-type: decimal;
}

/* Dark theme styles */
body.dark-theme {
    color: var(--text-color-dark);
    background: var(--dark-background);
  }

  body.dark-theme main {
      color: var(--text-color-dark);
  }

  body.dark-theme header {
    background-color: var(--dark-secondary) !important;
}

/* Temporary fix for puzzle-template header which is not targeted by the header selector */
body.dark-theme .header {
  background-color: var(--dark-secondary) !important;
}

  body.dark-theme footer {
    background-color: var(--dark-secondary) !important;
}

body.dark-theme footer a {
  box-shadow: 0 2px 0 var(--accent-color-dark);
}

  body.dark-theme a {
    color: var(--text-color-dark);
  }

  body.dark-theme .callout {
    background-color: var(--dark-secondary);
  }

  body.dark-theme a.main-links:before {
      background-color: var(--accent-color-dark);
  }

  body.dark-theme .btn-toggle {
    background-color: var(--dark-background);
    color: var(--text-color-dark);
    border: 1px solid var(--accent-color-dark);
  }

/* End dark theme styles */

/* All header styling */
#header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    justify-content: space-between;
    width: 100vw;
    max-width: 1000px;
}

#title {
    color: white;
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
    padding: 1em;
    font-weight: 700;
}


nav {
    display: flex;
    background-color: transparent;
    align-items: center;
    overflow: hidden;
}

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    margin-right: 1em;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  i {
    padding: 0 0;
    margin: auto 1em;
}

  .topnav a:hover {
    background-color: var(--accent-color-1);
}

header img {
  height: 2em;
  padding: 0.5em 0 0.25em 0;
}

/* End of header styling */

/* Start of main styling */
main {
    grid-area: content;
    max-width: 800px;
    margin: 0 0;
    padding-top: 2em;
    color: black;
}

h1 {
    font-size: calc(26px + (38 - 26) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-top: 2em;
    text-align: center;
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
    margin-bottom: 1em;
}

p {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.15em;
    margin: 1em auto 2em auto;
}

a {
    padding: 0.25em;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    transition: 0.3s;
}

.btn-toggle {
  background-color: var(--white-background);
  color: black;
  border: 1px solid var(--accent-color-2);
  border-radius: 5px;
  height: 5vh;
}

main img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

a.main-links
{
    position: relative;
    color: black;
    font-weight: bold;
    padding-bottom: 0;
}

a.main-links:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color-2);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}


a.main-links:hover:before {
    visibility: visible;
    width: 100%;
}

.callout {
    background-color: var(--gray-background);
    padding: 1em;
}

.callout h2 {
    text-align: left;
}

.callout h3 {
    text-align: center;
}

/* End of main styling */

/* Start of footer styling */
#footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    width: 100vw;
    max-width: 1000px;
    color: white;
}

footer a {
    box-shadow: 0 2px 0 var(--accent-color-2);
    border-radius: 0;
}
footer a:hover {
    background-color: var(--accent-color-1);
}

/* End of footer style */

/* Media Queries */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a {
        margin-right: 0.5em;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        display: none;
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive .active {
        display: none;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-right: 0.85em;
    }
  }

  /* End of media queries */

