html {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 120px 1fr 30px;
    grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
    justify-items: center;
    align-items: center;
    min-height: 300px;
}

header {
    grid-area: header;
    align-content: flex-end;
    background-color: #09A7A1;
}

nav {
    display: flex;
    justify-content: center;
    background-color: 	hsl(178, 80%, 25%);
}

nav li {
    display: inline;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
    background-color: #09A7A1;
}

@media (max-width: 600px) {
    body {
      width: 90vw;
    }
    
    
  }